*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  width: 100%;
  height: 10vh;
  background: rgb(105, 105, 184);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.navbar-heading h1{
  margin-left: 20px;
  font-size: 30px;
}
.navbar-heading span{
  color: #0b0c0a;
}
.navbar-links ul{
  display: flex;
  list-style: none;
}
.navbar-links li{
  float: left;
  margin-left: 150px;
  color: #0b0c0a;
  
}
.active {
  color: white;
}
.container{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  margin: 20px 0;
  text-decoration: underline;
  text-align: center;
}

.tours{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.tour img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tour{
  height: auto;
  width: 550px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tour .txt{
  display: flex;
  padding: 15px 0;
}
.tour .txt h4{
  margin: 0px 30px;
}
.tour #txtBtn{
  background: transparent;
  border: none;
  outline: none;
  color: rgb(65, 65, 168);
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
  text-decoration: underline;
}
#deleteBtn{
  margin: 15px 0;
  padding: 15px 35px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(74, 62, 180);
  outline: none;
  color: rgb(17, 16, 16);
}
#loading{
  font-weight: 800;
  margin-top: 150px;
  font-size: 50px;
}
.refresh{
  background: rgb(78, 78, 255);
  padding: 15px 29px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 17px;
  color: rgb(228, 232, 236);
  cursor: pointer;
  z-index: 10;
  font-weight: bold;
}
h2{
  font-weight: 800;
  margin-top: 100px;
  font-size: 50px;
}
p{
  padding: 15px;
  line-height: 18px;
  color: rgb(61, 61, 61);
}
.tour #txtBtn{
  background: transparent;
  border: none;
  outline: none;
  color: rgb(112, 112, 248);
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
  text-decoration: underline;
}
.about {
  width: 100%;
  height: 100vh;
}
.about .about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}
.about .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
.about .title::after{
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: rgb(95, 95, 216);
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
  content: "what we do";
}

.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
  margin-left: 100px;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right p{
  text-align: justify;
  margin-right: 100px;
}
.about-btn{
  border-radius: 10px;
  padding: 10px 5px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  background: #6f739e;
  cursor: pointer;
}
/***    Login Page     ***/
h2 {
  font-weight: 300
}

form {
  display: inline-block;
  background: #a3b6c5;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer
}

input {
  width: 15rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

#sub_btn {
  display: block;
  width: 100%;
  padding: .3rem;
  border: none;
  background: rgb(90, 105, 185);
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: rgb(121, 122, 129);
  transition: all .5s
}

footer p {
  margin: 0;
  font-size: .9rem
}
